<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
	<add name="core" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_Core;User ID=coreuser;Password=MXh1N34Sijt4mrHGDZb1" />
	<add name="security" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_Core;User ID=securityuser;Password=5Ts7jhaAR9RPwxwVb74k" />
	<add name="master" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_Master;User ID=masteruser;Password=ddbaOP5asjgIpc0dA1Pv" />
	<add name="web" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_Web;User ID=webuser;Password=BUx4ZedYC7KPjWL4Jb0X" />
	<add name="messaging" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_Messaging;User ID=messaginguser;Password=NsYKJQscpwtSZGg2MXDg" />
	<add name="xdb.processing.pools" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_Processing.Pools;User ID=poolsuser;Password=4AOF6iHGvKlupQreay0H" />
	<add name="xdb.referencedata" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_ReferenceData;User ID=referencedatauser;Password=CyyIvNjhIxGM1TbNI6lO" />
	<add name="xdb.processing.tasks" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_Processing.Tasks;User ID=tasksuser;Password=b8zBGzEtCsDcQcSQjhVF" />
	<add name="experienceforms" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_ExperienceForms;User ID=formsuser;Password=lXCtSVtnkgZgEkepswT1" />
	<add name="exm.master" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_EXM.Master;User ID=exmmasteruser;Password=KxFg2ikjpM0U1isfuDkq" />
	<add name="reporting" connectionString="Data Source=DUBLIN\SQLEXPRESS;Initial Catalog=sitecon_Reporting;User ID=reportinguser;Password=mvl235EHRcL0CKxsiHdf" />
	<add name="cortex.processing.engine" connectionString="https://sitecon-xconnect.outsell.cloud" />
	<add name="cortex.processing.engine.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6C27D645244C6AAFAC87B79B5F023A7AA62DAC95" />
	<add name="sitecore.reporting.client" connectionString="https://sitecon-xconnect.outsell.cloud" />
	<add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6C27D645244C6AAFAC87B79B5F023A7AA62DAC95" />
	<add name="solr.search" connectionString="https://localhost:8983/solr" />
	<add name="sitecoreidentity.secret" connectionString="JqhCoUxDyMsLyOoB6f6tihRDUoE2ZCsT8xxuUN9XePE2Ztan31OA6Z1qzpIEGIjk63O91V9W4o39JEbxCF1SBpr3UB59WBTm72nb" />
	<add name="xconnect.collection" connectionString="https://sitecon-xconnect.outsell.cloud" />
	<add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6C27D645244C6AAFAC87B79B5F023A7AA62DAC95" />
	<add name="xdb.marketingautomation.operations.client" connectionString="https://sitecon-xconnect.outsell.cloud" />
	<add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6C27D645244C6AAFAC87B79B5F023A7AA62DAC95" />
	<add name="xdb.marketingautomation.reporting.client" connectionString="https://sitecon-xconnect.outsell.cloud" />
	<add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6C27D645244C6AAFAC87B79B5F023A7AA62DAC95" />
	<add name="xdb.referencedata.client" connectionString="https://sitecon-xconnect.outsell.cloud" />
	<add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6C27D645244C6AAFAC87B79B5F023A7AA62DAC95" />
	<add name="EXM.CryptographicKey" connectionString="0x6192162996332882542698267161264684355553876097310915413089288059" />
	<add name="EXM.AuthenticationKey" connectionString="0x0471298960199574864745029630425363462921272891258649496288284159" />
</connectionStrings>